@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
.container {
  width: 60%;
}

.text-center {
  text-align: center;
}

.btn-primary, .btn-secondary {
  padding: 0.7rem 1rem;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  font-weight: 500;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: block;
}

.btn-primary {
  background: #f96816;
  color: #fff;
}

.btn-primary:hover {
  background: #ff7b39;
}

.btn-secondary {
  background: none;
  border: 1px solid #f4f4f4;
}

.btn-secondary:hover {
  border-color: #ff7b39;
  color: #ff7b39;
}

.btn-block {
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background: #181818;
  color: #fff;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.left .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  padding-bottom: 1rem;
}

.left .login .logo {
  margin-bottom: 8vh;
}

.left .login .logo-img {
  width: 300px;
  height: auto;
}

.left .login-form {
  width: 80%;
  padding-bottom: 3rem;
}

.left .login-form .form-label {
  font-size: 0.9rem;
  line-height: 2rem;
  font-weight: 500;
}

.left .login-form .form-input {
  margin-bottom: 1.3rem;
  width: 100%;
  background: #181818;
  border-radius: 2px;
  border: 1px solid #555;
  color: #ccc;
  padding: 0.5rem 1rem;
  line-height: 1.3rem;
}

.left .login .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  font-size: 0.9rem;
}

.left .login .or {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 1.2rem 0;
}

.left .login .or-text {
  color: #ccc;
  padding: 0 0.8rem;
}

.left .login .or .bar {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  border: none;
  height: 1px;
  background: #555;
}

.left .footer {
  max-width: 80%;
  padding-top: 5rem;
  font-size: 0.8rem;
}

.left .footer .copyright {
  color: #555;
}

.left .footer-link {
  color: #f96816;
  text-decoration: underline;
}

.left .footer-link:hover {
  text-decoration: none;
}

.right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.right .showcase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../img/login-bg.jpg") no-repeat center center/cover;
  height: 100vh;
}

.right .showcase-heading {
  font-size: 3rem;
  max-width: 100%;
}

.right .showcase-btn {
  max-width: 60%;
  margin: auto;
}

@media (min-width: 1200px) {
  .left {
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
  }
  .right {
    -webkit-box-flex: 6;
        -ms-flex: 6;
            flex: 6;
  }
}
/*# sourceMappingURL=main.css.map */