// Font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$font-stack: 'Roboto', sans-serif;

$clr-primary: #f96816;
$clr-secondary: #fff;

$clr-primary-hov: #ff7b39;

$clr-neutral-dark: #181818;
$clr-neutral-light: #555;
$clr-neutral-lighter: #ccc;

$breakpoint-xl: 1200px;
