// Font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$font-stack: 'Roboto', sans-serif;

$clr-primary: #f96816;
$clr-secondary: #fff;

$clr-neutral-dark: #181818;
