.container {
	width: 60%;
}

// Text Utilities
.text-center {
	text-align: center;
}

// Buttons
%btn-shared {
	padding: 0.7rem 1rem;
	cursor: pointer;
	border: 0;
	border-radius: 2px;
	font-weight: 500;
	transition: all 0.5s ease;
	display: block;
}

.btn {
	&-primary {
		@extend %btn-shared;
		background: $clr-primary;
		color: $clr-secondary;

		&:hover {
			background: $clr-primary-hov;
		}
	}

	&-secondary {
		@extend %btn-shared;
		background: none;
		border: 1px solid $clr-neutral-lightest;

		&:hover {
			border-color: $clr-primary-hov;
			color: $clr-primary-hov;
		}
	}

	&-block {
		width: 100%;
	}
}
