@import 'config';
@import 'utilities';

* {
	box-sizing: border-box;
}

body {
	font-family: $font-stack;
	font-weight: 300;
	background: $clr-neutral-dark;
	color: $clr-secondary;
	overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 300;
}

a {
	text-decoration: none;
	color: inherit;
}

// Page Wrapper
.wrapper {
	display: flex;
	flex-direction: row;
}

// Left Section
.left {
	flex: 1;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	// Login Area
	.login {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 80%;
		padding-bottom: 1rem;

		.logo {
			margin-bottom: 8vh;

			&-img {
				width: 300px;
				height: auto;
			}
		}

		&-form {
			width: 80%;
			padding-bottom: 3rem;

			.form {
				&-label {
					font-size: 0.9rem;
					line-height: 2rem;
					font-weight: 500;
				}

				&-input {
					margin-bottom: 1.3rem;
					width: 100%;
					background: $clr-neutral-dark;
					border-radius: 2px;
					border: 1px solid $clr-neutral-light;
					color: $clr-neutral-lighter;
					padding: 0.5rem 1rem;
					line-height: 1.3rem;
				}
			}
		}
	}
}

// Right Section
.right {
	flex: 1;
}
