@import 'utilities';

* {
	box-sizing: border-box;
}

body {
	font-family: $font-stack;
	font-weight: 300;
	background: $clr-neutral-dark;
	color: $clr-secondary;
	overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 300;
}
